@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  color: #666; }

h1, h2, h3 {
  margin: 0; }

h1 {
  text-align: center;
  font-weight: 300; }

hr {
  border: none;
  height: 1px;
  background: #ccc; }

.content {
  padding: 16px; }

#main {
  transition: margin-left .5s;
  margin-left: 250px;
  width: calc(100% - 250px); }

button {
  color: #fff;
  background: #5cbcab;
  padding: 10px 15px;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px; }

button:hover {
  box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.1);
  background: #4d9e90; }

form.filter {
  width: 100%;
  border: 1px solid #5cbcab;
  margin: 10px 0 20px; }

form .form-group {
  width: 100%;
  height: 40px; }

form h2 {
  font-size: 18px;
  padding: 15px 10px;
  color: #fff;
  background: #5cbcab; }

form input[type="text"] {
  width: calc(100% - 28px);
  padding: 10px 5%;
  border: 1px solid #5cbcab;
  margin: 10px 0; }

form input[type="submit"]:last-child {
  width: 150px;
  display: block;
  margin: 15px auto; }

form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc; }

form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc; }

form :-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc; }

form :-moz-placeholder {
  /* Firefox 18- */
  color: #ccc; }

.tweets .tweet {
  position: relative;
  display: block;
  float: left;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 15px;
  width: calc(100% - 30px); }
  .tweets .tweet:hover {
    transition: 258ms all easy-in-out;
    background: #eee; }
  .tweets .tweet:hover a.tweet_url img {
    transition: 258ms all easy-in-out;
    opacity: 1; }
  .tweets .tweet a.tweet_url img {
    height: 35px;
    width: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0; }
  .tweets .tweet img.profile_picture {
    float: left;
    height: 50px;
    width: auto;
    margin: 10px; }
  .tweets .tweet p {
    margin: 0; }
    .tweets .tweet p.body {
      width: 100%; }
  .tweets .tweet img.media {
    width: calc(100% - 2px);
    height: auto;
    margin: 10px 0;
    border: 1px solid #ccc; }
  .tweets .tweet .user {
    height: 70px; }
  .tweets .tweet .name {
    margin-top: 10px;
    float: left; }
    .tweets .tweet .name .full_name {
      font-weight: bold;
      color: #515151; }
  .tweets .tweet small.created_at {
    color: #ccc; }
  .tweets .tweet .info .retweets {
    float: left; }
  .tweets .tweet .actions a.action {
    height: 50px;
    width: 33.33%;
    float: left; }
    .tweets .tweet .actions a.action svg {
      height: 50px;
      margin: 0 auto;
      display: block;
      opacity: 0.3; }
      .tweets .tweet .actions a.action svg:hover {
        cursor: pointer;
        opacity: 1;
        transition: 258ms all easy-in-out; }

@media screen and (min-width: 1440px) {
  .tweets .tweet {} }

.sidenav img {
  display: block;
  margin: 0 auto 30px;
  height: 200px;
  width: 200px; }
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #666;
  display: block;
  transition: 0.3s; }

.sidenav_entities {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: 1px solid #ccc; }

.sidenav_handles {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-left: 0px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: 1px solid #ccc; }


.filter ul {
  list-style: none;
  padding: 0; }
  .filter ul button {
    width: calc(100% - 30px);
    margin: 15px; }

.control {
  display: block;
  position: relative;
  padding-left: 50px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 15px;
  height: 20px;
  width: 20px;
  background: #666; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #666; }

.control input:checked ~ .control__indicator {
  background: #5cbcab; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #4d9e90; }

.control input:disabled ~ .control__indicator {
  background: #666;
  opacity: 0.6;
  pointer-events: none; }

.control__indicator:after {
  content: '';
  position: absolute;
  display: none; }

.control input:checked ~ .control__indicator:after {
  display: block; }

.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff; }

  .template {}
  .template .template_box {
      position: relative;
      background-color: #EFEFEF;
      min-height: 300px;
      width: calc(33.33% - 30px);
      float: left;
      margin: 15px;
  }
  .template .template_image {
      position: absolute;
      background-color: #DDD;
      height: 70px;
      width: 70px;
      margin: 15px;
  }
  .template .template_text {
      position: absolute;
      background-color: #DDD;
      height: 10px;
      min-width: 100px;
      margin: 3px 0;
  }
  /*USERNAME*/
  .template_text:nth-child(2) {
   left: 100px;
   top: 30px;
   width: calc(40% - 115px);
   min-width: 85px;
}
  .template_text:nth-child(3) {
   left: 100px;
   top: 54px;
   width: calc(60% - 115px);
   min-width: 85px;
}
  /*CONTENT*/
.template_text:nth-child(4) {
    left: 15px;
    top: 150px;
    width: calc(70% - 30px);
}
.template_text:nth-child(5) {
    left: 15px;
    top: calc(150px + 24px);
    width: calc(80% - 30px);
}
.template_text:nth-child(6) {
    left: 15px;
    top: calc(150px + 24px + 24px);
    width: calc(50% - 30px);
}

.template_text,
.template_image {
    -webkit-animation: animation 2s infinite;
    animation: animation 2s infinite;
}

@keyframes animation {
    0% { background-color: #DDD; }
    50% { background-color: #CCC; }
    99% { background-color: #DDD; }
}
@-webkit-keyframes animation {
    0% { background-color: #DDD; }
    50% { background-color: #CCC; }
    99% { background-color: #DDD; }
}
