.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $white;
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 1px solid $grey;
    img {
        display: block;
        margin: 0 auto 30px;
        height: 200px;
        width: 200px;
    }
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: $grey;
        display: block;
        transition: 0.3s
    }   
}