<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Datascouts</title>
    <link href="content\css\styles.css" rel="stylesheet" type="text/css"></link>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <!--SIDENAV-->
      <div id="sidenav" class="sidenav">
        <div class="content">
            {{vueIsWorking}}
            <img src="content/img/datascouts_logo.svg" alt="Datascouts Logo"/>

            <!--FILTERS-->
            <h1>Filters</h1>
            <hr>

            <!--list of social media filters, change bool with checkbox-->
            <form action="" class="filter">
                <h2>Social media</h2>
                <template v-for="item in socialMediaFilters">
                  <label class="control control--checkbox" >
                      {{item.name}}
                      <input type="checkbox" checked="checked" name="item.name"
                      v-model="item.active"/>
                      <div class="control__indicator"></div>
                      {{item.active}}
                  </label>
                </template>
            </form>

            <!--list of filters by date, change bool with checkbox-->
            <form action="" class="filter">
                <h2>Year</h2>
                <template v-for="item in dateFilters">
                  <label class="control control--checkbox" >
                      {{item.year}}
                      <input type="checkbox" checked="checked" name="item.year"
                      v-model="item.active"/>
                      <div class="control__indicator"></div>
                      {{item.active}}
                  </label>
                </template>
            </form>

        </div>
      </div>

      <div id="main">
        <div class="content">
            <p>Waterfall display</p>
            <button v-on:click="fetchData">{{newEntity}}</button>
              <template v-for="item in items">
                <p>
                  <span class="body">{{item.body}}</span>
                </p>
              </template>



            <!--<div id="waterfall" class="content" ng-controller="homeCtrl">
              <div class="grid">
                <div class="item" ng-repeat="handle in handles">{{handle.data}}</div>
              </div>
            </div>-->
        </div>
      </div>

      <div class="sidenav-right">
        <div class="content">
              <h1>Search for your entity</h1>
              <form >
                  <input type="text" placeholder="Enter entity to search for" v-model="newEntity"/>
                  <button type="submit" value="Add new entity" >Add entity</button>
                </form>
              <hr>
              <form action="" class="filter">
                  <h2>Entities</h2>

                    <!--
                  <label class="control control--checkbox" ng-repeat="
                  entity in entities | orderBy: name">{{entity.name}}
                      <input type="button" name="entity.name"
                      ng-model="entity.active"/>
                      <div class="control__indicator"></div>
                  </label>
  -->
              </form>
              <!--<div ng-controller="homeCtrl">
                <h1>Datascouts</h1>

                <form ng-repeat="entity in entities | orderBy: name">
                  {{entity.name}}
                  <input type="checkbox" ng-model="entity.active" />
                  {{entity.active}}
                </form>
              </div>-->
          </div>
      </div>
    </div>
    <script src="app/app.js"></script>
  </body>
  </html>
