<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Datascouts</title>
    <link href="content\css\main.css" rel="stylesheet" type="text/css"></link>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <!--SIDENAV-->
      <div id="sidenav" class="sidenav">
        <div class="content">
            {{vueIsWorking}}
            <img src="content/img/datascouts_logo.svg" alt="Datascouts Logo"/>

            <!--FILTERS-->
            <h1>Filters</h1>
            <hr>

            <!--list of social media filters, change bool with checkbox-->
            <form action="" class="filter">
                <h2>Social media</h2>
                <template v-for="item in socialMediaFilters">
                  <label class="control control--checkbox" >
                      {{item.name}}
                      <input type="checkbox" checked="checked" name="item.name"
                      v-model="item.active"/>
                      <div class="control__indicator"></div>
                      {{item.active}}
                  </label>
                </template>
            </form>

            <!--list of filters by date, change bool with checkbox-->
            <form action="" class="filter">
                <h2>Year</h2>
                <template v-for="item in dateFilters">
                  <label class="control control--checkbox" >
                      {{ item.year }}
                      <input type="checkbox" checked="checked" name="item.year"
                      v-model="item.active"/>
                      <div class="control__indicator"></div>
                      {{ item.active }}
                  </label>
                </template>
            </form>

        </div>
      </div>

      <div id="main">
        <div class="content">
            <div class="tweets">
                <template v-for="item in items">
                    <!--TWEET-->
                    <div class="tweet">
                        <a class="tweet_url" v-bind:href="item.link">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Octicons-link-external.svg" alt="" title="visit tweet"> <!--temporary-->
                        </a>
                        <div class="user">
                            <img class="profile_picture" v-bind:src="item.user_avatar" alt="">
                            <div class="name">
                                <div class="full_name"> {{ item.user_full_name}} </div>
                                <a v-bind:href="'https://www.twitter.com/' + item.user" class="" target="_blank">@{{ item.user }}</a>
                            </div>
                        </div>
                        <p class="body">{{ item.body }}</p>

                        <div v-if="item.media != null">
                            <img v-bind:src="item.media" class="media" alt="">
                        </div>

                        <small class="created_at"> {{ item.created_at }} </small>
                        <hr>
                            <div class="info">
                                <div class="retweets">
                                    <strong> {{ item.retweet_count }} </strong>
                                    retweets&nbsp;|&nbsp;
                                </div>
                                <div class="favorites">
                                    <strong> {{ item.favorite_count }} </strong>
                                    favorites </div>
                            </div>
                        <hr>
                        <div class="actions">
                            <!--REPLY-->
                            <a class="action action-reply">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 72">
                                    <path fill="#AAB8C2" d="M41 31h-9V19c0-1.14-.647-2.183-1.668-2.688-1.022-.507-2.243-.39-3.15.302l-21 16C5.438 33.18 5 34.064 5 35s.437 1.82 1.182 2.387l21 16c.533.405 1.174.613 1.82.613.453 0 .908-.103 1.33-.312C31.354 53.183 32 52.14 32 51V39h9c5.514 0 10 4.486 10 10 0 2.21 1.79 4 4 4s4-1.79 4-4c0-9.925-8.075-18-18-18z"/>
                                </svg>
                            </a>

                            <a class="action action-retweet">
                            <!--RETWEET-->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 72">
                                    <path fill="#AAB8C2" d="M70.676 36.644C70.166 35.636 69.13 35 68 35h-7V19c0-2.21-1.79-4-4-4H34c-2.21 0-4 1.79-4 4s1.79 4 4 4h18c.552 0 .998.446 1 .998V35h-7c-1.13 0-2.165.636-2.676 1.644-.51 1.01-.412 2.22.257 3.13l11 15C55.148 55.545 56.046 56 57 56s1.855-.455 2.42-1.226l11-15c.668-.912.767-2.122.256-3.13zM40 48H22c-.54 0-.97-.427-.992-.96L21 36h7c1.13 0 2.166-.636 2.677-1.644.51-1.01.412-2.22-.257-3.13l-11-15C18.854 15.455 17.956 15 17 15s-1.854.455-2.42 1.226l-11 15c-.667.912-.767 2.122-.255 3.13C3.835 35.365 4.87 36 6 36h7l.012 16.003c.002 2.208 1.792 3.997 4 3.997h22.99c2.208 0 4-1.79 4-4s-1.792-4-4-4z"/>
                                </svg>
                            </a>

                            <a class="action action-favorite">
                            <!--FAVORITE-->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 72">
                                    <path fill="#AAB8C2" d="M38.723,12c-7.187,0-11.16,7.306-11.723,8.131C26.437,19.306,22.504,12,15.277,12C8.791,12,3.533,18.163,3.533,24.647 C3.533,39.964,21.891,55.907,27,56c5.109-0.093,23.467-16.036,23.467-31.353C50.467,18.163,45.209,12,38.723,12z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </template>
            </div>
            <!--<div id="waterfall" class="content" ng-controller="homeCtrl">
              <div class="grid">
                <div class="item" ng-repeat="handle in handles">{{handle.data}}</div>
              </div>
            </div>-->
        </div>
      </div>

      <div class="sidenav-right">
        <div class="content">
              <h1>Search for your entity</h1>
              <form >
                  <input type="text" placeholder="Enter entity to search for" v-model="newEntity"/>
                  <button type="submit" value="Add new entity" v-on:click="addEntity">Add entity</button>
                </form>
              <hr>
              <form action="" class="filter">
                  <h2>Entities</h2>
                  <ul>
                    <template v-for="item in entities">
                        <li>
                            <button type="button" value="item" v-on:click="selectEntity(item,$event)">{{item}}</button>
                        </li>
                    </template>
                  </ul>
              </form>
          </div>
      </div>
    </div>
    <script src="app/app.js"></script>
  </body>
  </html>
