<!doctype html>
<html lang="en">

  <head>
    <title>Datascouts</title>
    <link href="content\css\styles.css" rel="stylesheet" type="text/css"></link>
  </head>
  <body ng-app="mainApp">
      <!--SIDENAV-->
      <div id="sidenav" class="sidenav" ng-controller="homeCtrl">
        <div class="content">
            <img src="content/img/datascouts_logo.svg" alt="Datascouts Logo"/>
            <!--FILTERS-->
            <h1>Filters</h1>
            <hr>
            <form action="" class="filter">
                <h2>Social media</h2>

                <label class="control control--checkbox" ng-repeat="
                filter in filtersList | orderBy: name">{{filter.name}}
                    <input type="checkbox" checked="checked" name="filter.name"
                    ng-model="filter.active"/>
                    <div class="control__indicator"></div>
                </label>

            </form>
            <form action="" class="filter">
                <h2>Year</h2>
                <label class="control control--checkbox">2017
                    <input type="checkbox" name="2017"/>
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">2016
                    <input type="checkbox" name="2016"/>
                    <div class="control__indicator"></div>
                </label>
            </form>

            <ul>
                <li ng-repeat="filter in filtersList | orderBy: name">
                  <button ng-click="filter.active=!filter.active">{{filter.name}}</button>
                    <p>
                      {{filter.active}}
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="content" ng-controller="homeCtrl">
            <p>Waterfall display</p>
            <pre>{{myData | json}}</pre>

            <!--<div id="waterfall" class="content" ng-controller="homeCtrl">
              <div class="grid">
                <div class="item" ng-repeat="handle in handles">{{handle.data}}</div>
              </div>
            </div>-->
        </div>
    </div>

    <div class="sidenav-right" ng-controller="homeCtrl">
      <div class="content">
            <h1>Search for your entity</h1>
            <form ng-submit="addEntity()">
                <input type="text" placeholder="Enter entity to search for" ng-model="newEntity.name"/>
                <button type="submit" value="Add new entity">Add entity</button>
              </form>
            <hr>
            <form action="" class="filter">
                <h2>Entities</h2>
<!--
                <label class="control control--checkbox" ng-repeat="
                entity in entities | orderBy: name">{{entity.name}}
                    <input type="button" name="entity.name"
                    ng-model="entity.active"/>
                    <div class="control__indicator"></div>
                </label>
-->
            </form>
            <!--<div ng-controller="homeCtrl">
              <h1>Datascouts</h1>

              <form ng-repeat="entity in entities | orderBy: name">
                {{entity.name}}
                <input type="checkbox" ng-model="entity.active" />
                {{entity.active}}
              </form>
            </div>-->
        </div>
    </div>

    <script src="app\lib\angular.min.js"></script>
    <script src="app\lib\angular-route.min.js"></script>
    <script src="app\mainApp.js"></script>
    <script src='node_modules/waterfalljs/waterfall.min.js'></script>
  </body>
  </html>
