.filters {
    position: relative;
    height: 51px;
    width: 100%;
    border-bottom: 1px solid $gray-lightest;
    form {
        position: absolute;
        right: 8px;
        top: 0;
        .form-group {
            float: left;
        }
    }
}