.flex-container {
	display: flex;
	overflow: hidden;
	* {
		flex: 0 0 auto;
	}
}
.column {
  	flex-direction: column;
}
.full-screen {
  	display: flex;
  	overflow: hidden;
	flex-direction: column;
	* {
 		flex: 0 0 auto;
	}
	.header {
		height: 40px;
		background: $blue-whale;
		color: white;
		position: fixed;
		width: 100%;
		z-index: 999;
	}
	.main {
		flex: 1 1 auto;
		display: flex;
		overflow: hidden;
		margin-top: 40px;
		* {
			flex: 0 0 auto;
		}
		#content {
			flex: 1 1 auto;
			background: url(../assets/img/globe.png);
			background-repeat: no-repeat;
			background-position: 100px 50px;
			background-color: white;
			animation: fadeIn 1s ease-in-out forwards;		
		}
	}
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}