ul {
    &.entities,
    &.handles {
        list-style: none;
        padding: 0;
    }

    li.entity,
    li.handle {
        height: 60px;
        border-left: none;
        position: relative;
        p {
            margin: 0 0 0 45px;
            padding: 15px 20px;
            line-height: 30px;
        }
        &:hover {
            i.fa.fa-angle-right {
                transition: $trans;
                display: initial;
            }
            i.fa.fa-users {
                background-color: $primary;
            }
        }
        i.fa.fa-angle-right {
            position: absolute;
            line-height: 60px;
        }
        input[type="checkbox"],
        label {
            position: absolute;
            right: 40px;
            top: 20px;
            height: 53px;
            font-size: 30px;
        }
    }

    li.entity {
        &.active {
            box-shadow: inset 5px 0 $primary;
            background-color: $gray-lightest;
        }
        &:hover {
            background-color: $gray-lightest;
            cursor: pointer;
        }
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                animation: list 300ms * $i ease-in-out forwards;
            }
        }
        i.fa.fa-angle-right {
            display: none;
            right: 15px;
            top: 0px;
        }
        .image_entity {
            float: left;
            padding: 15px;
            height: 30px;
            width: 30px;
            i {
                line-height: 30px;
                width: 30px;
                border-radius: 50%;
                text-align: center;
                background-color: $gray;
                color: $white;
            }
        }
    }
    li.handle {
        &.active {
            box-shadow: inset 5px 0 $primary;
            background-color: $white;
            i {
                transition: $trans;
                &.fa-twitter { background-color: $twitter ; color: $white; }
                &.fa-facebook { background-color: $facebook; color: $white; }
                &.fa-youtube { background-color: $youtube; color: $white; }
            }
        }
        &:hover {
            background-color: darken($gray-lightest, 10%);
            cursor: pointer;
            i {
                transition: $trans;
                &.fa-twitter { background-color: $twitter ; color: $white; }
                &.fa-facebook { background-color: $facebook; color: $white; }
                &.fa-youtube { background-color: $youtube; color: $white; }
            }
        }
        .icon-handle {
            background: $white;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            position: absolute;
            left: 10px;
            top: 15px;
            i {
                line-height: 30px;
                text-align: center;
                position: absolute;
                background: none;
                top: 0;
                left: 0;
            }
        }
    }
}
