.modal-mask {
    .modal-body {
        input {
            width: calc(100% - 29px);
        }
        select {
            width: 100%; /*TEMPORARY*/
            padding: 0.5em 1em;
        }
    }
    .model-footer {
        background-color: $white;
        border: none;
        padding: 0;
        button {
            margin: 0;
            width: 100%;
        }
    }
}