#sidebar_entities,
#sidebar_handles,
#sidebar_handle_actions {
    position: relative;
    border-right: 1px solid $gray-lightest;
    min-height: calc(100vh - 40px);
    transition: $trans;
}

#sidebar_entities {
    width: 250px;
    background-color: $white;
    z-index: 2;
    &:hover button.collapse {
        display: initial;
        transition: $trans;
    }
    button.collapse {
        display: none;
        position: absolute;
        top: 0;
        right: -15px;
        width: 15px;
        padding: 10px 0;
        border: 1px solid $gray-lightest;
        background-color: $white;
        &:hover {
            transition: $trans;
            background-color: $gray-light;
        }
    }
    form {
        .form-group {
            .input-icon {
                position: absolute;
                right: 30px;
                top: 18px;
                line-height: 35px;
            }
        }
    }
    form.slide-up#entity_form {
        position: fixed;
        bottom: 0;
        left: 0;
        padding-bottom: 15px;
        width: calc(300px - 50px);
        border-top: 1px solid $gray-lightest;
        background-color: $white;
        * {
            animation: slideUp 1s ease-in-out forwards;
        }
        .form-group:nth-of-type(2) { padding: 0; }
        button.btn_primary.action {
            position: relative;
            top: 0;
            width: calc(100% - 30px);
        }
    }
}
#sidebar_handles {
    width: 300px;
    background-color: $gray-lightest;
    z-index: -1;
    margin-left: -301px;
    form.slide-up#handle_form {
        position: fixed;
        bottom: 0;
        left: 250px;
        width: calc(300px);
        border-top: 1px solid $white;
        .form-group:nth-of-type(2) { padding: 0; }
        .form-group {
            button.btn_primary.social_media {
                width: calc(100% - 30px);
                margin: 5px 15px;
            }
        }
        button.btn_primary.action {
            position: relative;
            top: 0;
            width: calc(100% - 30px);
        }
    }
    button.btn_secondary.action {
        width: calc(50% - 33px);
    }
}
#sidebar_handle_actions {
    z-index: 2;
    width: 200px;
    margin-left: -1px;
    background-color: $white;
}
