$primary: #1fdcb8;
$primary-hover: #00c3af;
$sub: #388089;
$turquoise: #00eec1;

$gray-dark: #515151;
$gray: #818181;
$gray-light: #cecece;
$gray-lightest: #eeeeee;
$white: #ffffff;

$blue-whale: #303240;
$blue-whale-o: rgba(48, 50, 64, .85);
$error: #fd5505;
$error-light: lighten($error,40%);

$twitter: #1DA1F2;
$facebook: #3b5998;
$youtube: #cd201f;

$trans: all .25s ease;