@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flashmessage {
  0%    { opacity: 0;
          z-index: 999; }
  30%   { opacity: 1; }
  85%   { opacity: 1; }
  100%  { opacity: 0;
          z-index: -999; }
}

@keyframes filter {
    0%   {
        opacity: 0;
        transform: rotateY(-50deg);
    }
    80% {
        transform: rotateY(20deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@keyframes list {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg) translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        margin-bottom: -144px;
        transform: rotateY(90deg) translateY(144px);
    }
    100% {
        opacity: 1;
        margin-bottom: 0;
        transform: rotateY(0deg) translateY(0);
    }
}
