@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,700');

body {
	margin: 0;
	font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: $gray-dark;
	letter-spacing: 0.2px;
	overflow-x: hidden;
}
* { outline: none; }
*:hover { transition: $trans; }
h1 {
	font-family: 'sofia_prolight', Arial, Helvetica, sans-serif;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 2px;
	padding: 15px;
	margin-top: -1px;
	font-weight: bold;
	text-align: center;
}
i {	
	font-size: 16px !important;
}
figure { margin: 0; }
#content { width: calc(100% - 247px); background: $white; }

// INPUT
input {
	font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
	border: 1px solid $gray-light;
	&:focus {
		border-color: $primary;
		transition: border-color 1s ease;
	}
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
  	font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
  	font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
  	font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: 300;
}