button {
    line-height: 30px;
    padding: 4px 15px;
    font-size: 16px;
    &.btn_primary {
        border: 1px solid $blue-whale;
        background: $blue-whale;
        color: $white;
        margin: 15px;
        text-transform: uppercase;
        i {
            font-size: 24px !important;
            color: $primary;
            font-style: normal;
        }
        &:hover {
            transition: $trans;
            background-color: $primary;
            color: $blue-whale;
            font-weight: 700;
            i {
                color: $blue-whale;
            }
        }
    }
    &.btn_secondary {
        border: 1px solid $gray;
        background: $white;
        margin: 15px;
        font-weight: 700;
        color: $gray;
        &:hover {
            transition: $trans;
            color: $white;
            background: $gray;
        }
    }
    &.btn_crud {
        border: none;
        width: calc(100% - 2px);
        margin-bottom: 5px;
        background-color: $gray;
        color: $white;
        font-weight: 700;
        i {
            color: $white;
        }
        &.delete {
            background-color: $error-light;
            &:hover {
                transition: $trans;
                background-color: $error;
            }
        }
        &.disabled {
            background-color: $gray-lightest;
            color: $gray-light;
            i {
                color: $gray-light;
            }
            &:hover {
                cursor: not-allowed;
            }
        }
    }
    &.btn_filter {
        border: none;
        background: $blue-whale;
        color: $white;
        width: 105px;
        img {
            height: 20px;
        }
        &:hover {
            background: lighten($blue-whale,10%);
        }
    }
    &.btn_sm {        
        color: $white;
        border: none;
        &.twitter { background-color: $twitter; &:hover { background-color: darken($twitter,10%); }}
        &.youtube { background-color: $youtube; &:hover { background-color: darken($youtube,10%); }}        
        &.vimeo { background-color: $vimeo; &:hover { background-color: darken($youtube,10%); }}
    }
    &.btn_close {
        border: none;
        background: none;
        padding: 0;
        position: absolute;
        top: 0;
        right: 8px;
        i:hover {
            transition: $trans;
            color: $primary;
        }
    }
    &:hover {
        transition: $trans;
        cursor: pointer;
    }
}