button {
    font-family: 'sofia_prolight', sans-serif;
    line-height: 30px;
    padding: 4px 15px;
    font-size: 16px;
    border: none;

    &:hover {
        transition: $trans;
        cursor: pointer;
    }
}

.btn_primary {
    border: 1px solid $blue-whale;
    background: $blue-whale;
    color: $white;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;

    i {
        font-size: 24px !important;
        color: $primary;
        font-style: normal;
    }

    &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $blue-whale;

        i {
            color: $blue-whale;
        }
    }
}

.btn_secondary {
    border: 1px solid $gray;
    background: $white;
    margin: 15px;
    font-weight: 700;
    color: $gray;

    &:hover {
        color: $white;
        background: $gray;
    }
}

.btn_crud {
    width: calc(100% - 2px);
    margin-bottom: 5px;
    background-color: $gray;
    color: $white;
    font-weight: 700;

    i {
        color: $white;
    }

    &.delete {
        background-color: $error-light;

        &:hover {
            background-color: $error;
        }
    }

    &.disabled {
        background-color: $gray-lightest;
        color: $gray-light;
        &:hover {
            cursor: not-allowed;
        }
        i {
            color: $gray-light;
        }
    }
    &.btn_filter {
        border: none;
        background: $blue-whale;
        color: $white;
        width: 105px;
        img {
            height: 20px;
        }

        &:hover {
            cursor: not-allowed;
        }
    }
    &.btn_close {
        border: none;
        background: none;
        padding: 0;
        position: absolute;
        top: 0;
        right: 8px;
        text-align: right;
        i {
            color: $blue-whale;
            &:hover {
                transition: $trans;
                color: $primary;
            }
        }
    }
}
.btn_sm {        
    color: $white;
    border: none;
    &.fa-active {
        position: relative;        
        &.twitter { background-color: $twitter; &:hover { background-color: darken($twitter,10%); }}
        &.youtube { background-color: $youtube; &:hover { background-color: darken($youtube,10%); }}        
        &.vimeo { background-color: $vimeo; &:hover { background-color: darken($vimeo,10%); }}
    }

    &.fa-active:after {
        display: block;
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        border: 2px solid $blue-whale;
        background-color: #f00;
    }
    &:hover {
        &.twitter { background-color: $twitter; &:hover { background-color: $twitter; }}
        &.youtube { background-color: $youtube; &:hover { background-color: $youtube }}        
        &.vimeo { background-color: $vimeo; &:hover { background-color: $vimeo }}
    }
    &:hover .fa-active:after {
        border-color: $primary;
    }
}
.btn_filter {
    &.fa-active {
        position: relative;
    }

    &.fa-active:after {
        display: block;
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        border: 2px solid $blue-whale;
        background-color: #f00;
    }

    &:hover .fa-active:after {
        border-color: $primary;
    }
}