.styled-checkboxx {
	position: absolute;
	opacity: 0;
	& + label:before {
		content: '';
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		background-color: $white;
		background-size: 20px;
	}
	&:checked + label:before {
		background-color: $primary;
		background: url('../assets/img/checked.svg');
		background-size: 20px;
	}
	&:hover + label:before {
		transition: $trans;
		opacity: 0.5;
		cursor: pointer;
	}
}
.styled-checkbox {
	position: absolute;
	opacity: 0;
	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

	// Box.
	& + label:before {
		content: '';
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		background: url('../assets/font-awesome-svg/eye-slash.svg');
		background-size: 20px;
	}

	// Box hover
	&:hover + label:before {
		background: url('../assets/font-awesome-svg/eye-hover.svg');
		background-size: 20px;
		transition: $trans;
		opacity: 0.5;
	}
	
	// Box focus
	&:focus + label:before {
		// box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	// Box checked
	&:checked + label:before {
		background: url('../assets/font-awesome-svg/eye.svg');
		background-size: 20px;
	}
	
	// Disabled state label.
	&:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}

	// Disabled box.
	&:disabled + label:before {
		box-shadow: none;
		background: #ddd;
	}

	// Checkmark. Could be replaced with an image
	&:checked + label:after {
		content: '';
		position: absolute;
		left: 5px;
		top: 9px;
		background: url('../assets/font-awesome-svg/eye-slash.svg');
		background-size: 20px;
	}
}