.wf-box {
    position: relative;
    letter-spacing: 0;
    float: left;
    margin: 8px;
    &.facebook {
        box-shadow: 0 0 5px 0 lighten($facebook,35%); 
        .metadata_2 .social_media { background-color: $facebook; }
        &:hover { box-shadow: 0 0 5px 2px lighten($facebook,25%); }}
    &.twitter {
        box-shadow: 0 0 5px 0 lighten($twitter,35%); 
        .metadata_2 .social_media { background-color: $twitter; }
        &:hover { box-shadow: 0 0 5px 2px lighten($twitter,25%); }}
    &.youtube {
        box-shadow: 0 0 5px 0 lighten($youtube,35%); 
        .metadata_2 .social_media { background-color: $youtube; }
        &:hover { box-shadow: 0 0 5px 2px lighten($youtube,25%); }}
    &:hover {
        transition: $trans;
        .metadata_1 i.fa.fa-external-link {
            transition: $trans;
            opacity: 1;
        }
    }
    .body {
        width: 100%;
        position: relative;
        p { margin: 8px; }
        .text { 
            width: calc(100% - 50px);
            margin-right: 50px;
            margin: 8px; 
        }
        .date {
            text-align: right;
            width: 50px;
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }
    img.media,
    video.media {
        display: block;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 100%;
        background-size: cover;
    }
    .metadata_1, .metadata_2 { width: calc(100% - 16px); position: relative; padding: 8px; }
    .metadata_1 {
        text-align: center;
        a {
            color: $gray;
            i.fa.fa-external-link {
                position: absolute;
                bottom: 8px;
                right: 8px;
                opacity: 0;
            }
        }
    }
    .metadata_2 {
        border-top: 1px solid $gray-lightest;
        .image_avatar {
            position: absolute;
            background: $gray-lightest;
            height: 30px;
            width: 30px;
            top: 4px;
            left: 8px;
            border-radius: 50%;
            img.avatar {
                height: 30px;
                width: 30px;
                border-radius: 50%;
            }
        }
        .name {
            margin-left: 38px;
        }
        .social_media {
            position: absolute;
            top: 0;
            right: 0;
            color: $white;
            height: 100%;
            width: 38px;
            i {
                margin: 8px;
                font-size: 22px !important;
            }
        }
    }
}
@media screen and (max-width: 960px) {
    .wf-column {
        width: 100% !important;
    }
}
@media screen and (max-width: 680px) {
    .filters { display: none; }
}