.validation-error {
    position: relative;
    display: none;
    .error-icon {
        position: absolute;
        top: 8px;
        left: 8px;
        height: 30px;
        width: 30px;
        background: $error-light;
        border-radius: 50%;
        i {
            color: $error;
            text-align: center;
            width: 100%;
            line-height: 30px;
        }
    }
    ul {
        list-style: none;
        color: $error-light;
        background: $error;
        padding: 8px 50px;
        width: calc(100% - 30px - 2px - 50px - 22px);
        li {
            letter-spacing: 0;
        }
    }
}