$primary: #5cbcab;
$sub: #4d9e90;

$white: #fff;
$light: #eee;
$lightgray: #ccc;
$grey: #666;
$darkgray: #515151;

$twitter-default: #AAB8C2;
$twitter-retweet: #19CF86;
$twitter-favorite:#E81C4F;

$transition: 258ms all easy-in-out;
