@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  color: #666;
}

h1, h2, h3{
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 300;
}

.content{
  padding: 16px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: 1px solid #ccc;
}
.sidenav-right {
  width: 300px;
  min-height: 100%;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid #ccc;
}
.sidenav img {
  display: block;
  margin: 0 auto 30px;
  height: 200px;
  width: 200px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#menu-bar{
  padding: 10px;
  border-bottom: 1px solid #818181;
  height: calc(300px - 20px);
}

#menu-bar h1{
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}

#main {
  transition: margin-left .5s;
  margin-left: 300px;
  width: calc(100% - 600px);
}

button {
  color: #fff;
  background: #5cbcab;
  padding: 10px 15px;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}
button:hover {
  box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
  background: #4d9e90;
}

.content button:nth-child(2){
  float: right;
}

.content ul{
  padding: 0;
  list-style-type: none;
  margin: 30px 0;
}

.content ul a li.entity{
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  color: #5cbcab;
}
.content ul a {
  text-decoration: none;
}
.content ul a:hover {
  color: #000;
}
.content li span {
  float: right;
}

form .form-group {
  width: 100%;
  height: 40px;
}
form.filter {
  width: 100%;
  border: 1px solid #5cbcab;
  margin: 10px 0 20px;
}
form h2 {
  font-size: 18px;
  padding: 15px 10px;
  color: #fff;
  background: #5cbcab;
}

form input[type="text"]{
  width: calc(100% - 28px);
  padding: 10px 5%;
  border: 1px solid #5cbcab;
  margin: 10px 0;
}

form input[type="submit"]:last-child{
  width: 150px;
  display: block;
  margin: 15px auto;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.control {
  display: block;
  position: relative;
  padding-left: 50px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 15px;
  height: 20px;
  width: 20px;
  background: #ccc;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #5cbcab;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #4d9e90;
}
.control input:disabled ~ .control__indicator {
  background: #ccc;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
